body {
	background: url('../imagens/fundo.png');
	padding: 10px 15px;
}

blockquote, q {
	font-style: italic;
}

h1, h2 {
	font-family: 'Times New Roman';
	color: limegreen;
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

p {
	font-family: 'Arial';
	text-align: justify;	
}

img {
	border: 4px solid limegreen;
	margin: 0 auto;
    display: flex;
}

.box {
	display: inline-flex;
	width: 100%;
}

.planta1 {
	margin-right: 0; 
}

.planta2 {
	margin-left: 2%; 
}